@media  (max-width: 390px)  {
        nav p{
        display: none;
    }
    nav {
        width: 390px;
height: 48px;
    }
    .logo-2 {
          position: absolute;
    left: 16px;
    }

    .logo-3 {
            position: absolute;
    right: 100px;
    }
.logo-4 {
    /* margin-right: 500px; */
  position: absolute;
    right: 60px;

}
header {
  padding-top: 1500px;
}
nav a {
    display: none;
}
.slide-2 {
    display: none;
}

.slide-3 {
    display: none;
}

.slide-6 {
  display: none;
}

.slide-4 {
    display: none;
}

.slide-5{
    display: none;
}

.section-3 {
    display: none;
}
.logo-5 {
    position: absolute;
    right: 15px;
}
header {
    display: flex;
height: 73px;
padding: 18px 31px;
justify-content: center;
padding-top: 80px;
padding-bottom: 30px;
text-align: center;
align-self: stretch;
}
.section-1 {
    background-image: url(images/phone-1.jpg);
    width: 390px;
height: 500px;
flex-shrink: 0;
background-position: center;

}

.hero-container {
    margin-top: 220px;
}

.section-2 {
    background-image: url(images/phone-2.jpg);
        width: 390px;
height: 500px;
flex-shrink: 0;
background-position: center;
}
.article-container {
    display: none;
}
.tablet-container-1 {
  display: flex;
  flex-direction: column;

}

.tablet-container-2 {
  display: flex;
  flex-direction: column;

}

.tablet-container-3 {
  display: flex;
  flex-direction: column;
  padding: none;


}
.slide-1 {
     width: 100%;
     padding: 0px;

height: 500px;
flex-shrink: 0;
}
    .tablet-1 {
        background-image: url(./images/tablet-1.jpg);
        background-position: center;
        width: 390px;
height: 500px;
padding: 0px;
background-size: cover;
background-repeat: no-repeat;
margin: 0px;
flex-shrink: 0;
    }
    .tablet-2 {
        background-image: url(./images/tablet-2.jpg);
        background-position: center;
        width: 100%;
height: 500px;
flex-shrink: 0;
    }
    .tablet-3 {
        background-image: url(./images/slide-4.jpg);
        background-position: center;
        width: 390px;
height: 500px;
flex-shrink: 0;
    }

        .tablet-5 {
        background-image: url(./images/tablet-4.jpg);
        background-position: center;
        width: 390px;
height: 500px;
padding: 0px;
background-size: cover;
background-repeat: no-repeat;
margin: 0px;
flex-shrink: 0;
    }
    .tablet-5 {
        background-image: url(./images/tablet-4.jpg);
        background-position: center;
        width: 100%;
height: 500px;
flex-shrink: 0;
    }
    .tablet-6 {
        background-image: url(./images/slide-5.jpg);
        background-position: center;
        width: 390px;      
height: 500px;
background-position: center;
flex-shrink: 0;
    }
    .section-4 {
     padding: 0px;
        margin: 0px
        ;
    }


.buttons-1 {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 12px;
}

.texts-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 250px;
  flex-direction: column;
}

.texts-container p {
color: #F5F5F7;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
padding-left: 50px;
padding-right: 50px;
font-weight: 400;
line-height: 20px; /* 111.111% */
}

.texts-container h3 {

  color: #F5F5F7;
text-align: center;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 120% */
}


.texts-container-4 {
  margin-top: 50px
}

    .movie-4 {
        display: none;
  }

  .movie-3 {
    display: none;
  }
.movie-1 {
    display: none;
}
.movie-2 {
    display: none;
}
  .phone-movie-1 {
    background-image: url(images/phone-movie-1.jpg);
    width: 274px;
height: 495px;
flex-shrink: 0;
    scroll-snap-align: center;

  }

    .phone-movie-2 {
    background-image: url(images/phone-movie-2.jpg);
    width: 274px;
        scroll-snap-align: center;

height: 495px;
flex-shrink: 0;
  }

    .phone-movie-3 {
    background-image: url(images/phone-movie03.jpg);
    width: 274px;
height: 495px;
    scroll-snap-align: center;

flex-shrink: 0;
  }

    .phone-movie-4 {
    background-image: url(images/phone-movie04.jpg);
    width: 274px;
height: 495px;
flex-shrink: 0;
    scroll-snap-align: center;

  }

    .phone-movie-5 {
    background-image: url(images/phone-movie05.jpg);
    width: 274px;
height: 495px;
    scroll-snap-align: center;

flex-shrink: 0;
  }

    .phone-movie-6 {
    background-image: url(images/phone-movie06.jpg);
    width: 274px;
height: 495px;
flex-shrink: 0;
    scroll-snap-align: center;

  }

    .phone-movie-7 {
    background-image: url(images/phone-movie07.jpg);
    width: 274px;
        scroll-snap-align: center;

height: 495px;
flex-shrink: 0;
  }

    .phone-movie-8 {
    background-image: url(images/phone-movie08.jpg);
    width: 274px;
        scroll-snap-align: center;

height: 495px;
flex-shrink: 0;
  }

  .phone-movie {
    display: flex;
    gap: 16px;
    overflow: scroll;

    margin-top: 12px;
  }

  .section-6{
    display: none;
  }

  .phone-article-1 {
width: 238px;
height: 134px;
flex-shrink: 0;
background: #6529CF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.mytext {
  color: #1D1D1F;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 133.333% */
        padding-top: 140px;
        position: absolute;
       
        left: 10px;
}
.myP{
    color: #1D1D1F;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 133.333% */
        padding-top: 140px;
        /* position: absolute;
        right: 0px; */
      
}
.phone-article-1 svg {
          margin-left: 120px;
        margin-top: 100px;
}
  .phone-img-1 {

    background-image: url(images/phone-article.jpg);
    width: 114px;
height: 114px;
border-radius: 8px;

  }

  .phone-article-2 {
    background-image: url(images/phone-article-2.jpg);
width: 238px;
height: 134px;
flex-shrink: 0;
  }

  .phone-article {
    display: flex;margin-top: 20px;
    gap: 6px;
    overflow: scroll;
    position: relative;

  }

  .bullets {
    display: none;
  }

  .bullets-2 {
    display: none;
  }
.tarticle-container {
  display: none;
}
.section-5 {
  display: none;
}

.bullets-3{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
}
.bullet-3 {
    width: 14px;
    height: 14px;
    background-color: gray;
    border-radius: 50%;
}

body:has(#phone-movie-1:target) .bullets-3 .bullet-3:nth-child(1) {
    background-color: #000;
}

body:has(#phone-movie-2:target) .bullets-3 .bullet-3:nth-child(2) {
    background-color: #000;
}

body:has(#phone-movie-3:target) .bullets-3 .bullet-3:nth-child(3) {
    background-color: #000;
}
body:has(#phone-movie-4:target) .bullets-3 .bullet-3:nth-child(4) {
    background-color: #000;
}

body:has(#phone-movie-5:target) .bullets-3 .bullet-3:nth-child(5) {
    background-color: #000;
}

body:has(#phone-movie-6:target) .bullets-3 .bullet-3:nth-child(6) {
    background-color: #000;
}
body:has(#phone-movie-7:target) .bullets-3 .bullet-3:nth-child(7) {
    background-color: #000;
}

body:has(#phone-movie-8:target) .bullets-3 .bullet-3:nth-child(8) {
    background-color: #000;
}
.phone-movie {
              scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
}
    }
