.section-4 {
  padding: 6px 6px 6px 6px;
}
.slide-1 {
  background-image: url(./images/slide-1.jpg);
  background-position: center;
  width: calc(50% - 6px);
  height: 580px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  margin: 12px 12px 12px 12px;
}

.heading {
  background-image: url(./images/Heading\ 3.png);
  width: 430px;
  height: 33px;
  margin-top: 58px;
  /* margin-bottom: 30px; */
}

.text-1 {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  margin-top: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}

.button-6 {
  border-radius: 999px;
  background: #0071e3;
  width: 123px;
  height: 44px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: -0.374px;
}

.button-7 {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  gap: 10px;
  border: none;
  border-radius: 999px;
  border: 1px solid #2997ff;
  width: 68px;
  background-color: transparent;
  height: 44px;
  color: #2997ff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: -0.374px;
}

.buttons-container-3 {
  display: flex;
  margin-top: 10px;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.text-2 {
  text-align: center;
  display: flex;
  width: 169px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  background: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 320px;
  margin-left: 123px;
}

.slide-2 {
  background-image: url("./images/slide-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: calc(50% - 6px);
  height: 580px;
  flex-shrink: 0;
  flex-shrink: 0;
  margin: 12px 12px 12px 12px;
}

.text-container-1 h3 {
  display: flex;
  width: 238px;
  height: 44px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
}

.text-container-1 p {
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}

.text-container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 400px;
}

.button-8 {
  border-radius: 999px;
  background: #0071e3;
  width: 123px;
  height: 44px;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: -0.374px;
}

.button-9 {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  gap: 10px;

  border-radius: 999px;
  border: 1px solid #2997ff;
  width: 68px;
  background-color: transparent;
  height: 44px;
  color: #2997ff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: -0.374px;
}

.buttons-container-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 10px;
}

.slide-container {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.slide-3 {
  background-image: url(./images/slide-3.jpg);
  background-position: center;
  width: calc(50% - 6px);
  height: 580px;
  flex-shrink: 0;
  margin: 12px 12px 12px 12px;
}

.vector {
  display: flex;
  gap: 2px;
}
.vector h3 {
  display: flex;
  align-items: center;
}
.text-3 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  color: #000;
  padding-top: 4px;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-4 {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  margin-top: 4px;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}

.buttons-container-5 {
  display: flex;
  margin-top: 4px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.text-container-2 {
  padding-top: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slide-4 {
  background-image: url(./images/289563ba49fcacc7cacfaa9dee97b7af3642bb76.jpg);
  background-position: center;
  width: calc(50% - 6px);
  height: 580px;
  flex-shrink: 0;
  margin: 12px;
}

.buttons-container-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.text-container-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 58px;
}

.text-container-3 h3 {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
}

.text-container-3 p {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}

.slide-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.slide-5 {
  background-image: url(./images/slide-5.jpg);
  background-position: center;
  width: calc(50% - 6px);
  height: 580px;
  flex-shrink: 0;
  margin: 12px;
}
.text-container-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 58px;
}

.text-container-4 h3 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-container-4 p {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}

.button-10 {
<<<<<<< HEAD
display: flex;
padding: 10px 16px;
justify-content: center;
align-items: center;
border: none;
gap: 10px;
border-radius: 999px;
background: #0071E3;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
margin: auto;
    margin-top: 20px;
=======
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 10px;
  border-radius: 999px;
  background: #0071e3;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  margin: auto;
  margin-top: 20px;
>>>>>>> 048a967 (animation)
}

.vector-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-6 {
  background-image: url(./images/47cc645e82102fb94058ac8b07709b8b6d85fef7.jpg);
  width: calc(50% - 6px);
  height: 580px;
  flex-shrink: 0;
  margin: 12px;
}

.text-container-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 58px;
}

.vector-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vector-3 h3 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-container-5 p {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}

.buttons-container-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 16px;
}

.slide-container-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.button-11 {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  border: 1px solid #0071e3;
  color: #0071e3;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
.tablet-container-1 {
  display: none;
}
.tablet-container-2 {
  display: none;
}
.tablet-container-3 {
  display: none;
}
